body {
  font-family: 'Hind', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.5em;
  font-weight: lighter;
}

h3 {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
}
