.range-slider {
  float: left;
  width: 100%;
  padding: 2.5% !important;
  background-color: #efefef;
}

input[type="range"] {
  float: left;
    position: relative;
    margin: 0.45em 0 2em 0;
    width: 80%;
}
input[type="range"]:after,
input[type="range"]:before {
    position: absolute;
    top: 2em;
    color: #aaa;
}
input[type="range"]:before {
    left:0em;
    content: attr(min);
}
input[type="range"]:after {
    right: 0em;
    content: attr(max);
}

.display-value {
  float: left;
  width: 15%;
  margin-left: 5%;
  text-align: right;
}
